.cart {
    float: right;
}
mat-card img {
    object-fit: cover;
    height: 70%;
}
mat-grid-list {
    margin-top: 20px;
    margin-bottom: 10px;
}
.star {
    vertical-align: -7px;
    color: gold;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}